<a href="https://colab.research.google.com/github/lawrenceemenike/NLP/blob/main/Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

#load data
df = pd.read_csv('salaries_by_college_major.csv')
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

In [4]:
df.describe()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
count,50.000000,50.00000,50.000000,50.000000
mean,44310.000000,74786.00000,43408.000000,142766.000000
std,9360.866217,16088.40386,12000.779567,27851.249267
min,34000.000000,52000.00000,26700.000000,96400.000000
25%,37050.000000,60825.00000,34825.000000,124250.000000
50%,40850.000000,72000.00000,39400.000000,145500.000000
75%,49875.000000,88750.00000,49850.000000,161750.000000
max,74300.000000,107000.00000,71900.000000,210000.000000

In [5]:
df.shape

(51, 6)

In [6]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [7]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [8]:
df.isna().sum()

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [9]:
clean_df = df.dropna()
clean_df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [11]:
# College Major with Highest Starting Salaries
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [13]:
clean_df['Starting Median Salary'].max()
clean_df['Starting Median Salary'].idxmax()

43

In [16]:
clean_df['Starting Median Salary'].loc[43]

74300.0

In [17]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [18]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [19]:
# prompt: what colllege major has the highest mid-career salary?

clean_df['Mid-Career Median Salary'].idxmax()
clean_df['Undergraduate Major'][8]

'Chemical Engineering'

In [20]:
# prompt: how much do chemical engineering students earn?

clean_df.loc[clean_df['Undergraduate Major'] == 'Chemical Engineering']

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM

In [21]:
# prompt: which college major has the lowest starting salary and how much do graduates earn after university

clean_df['Starting Median Salary'].idxmin()

34000.0

In [22]:
clean_df['Undergraduate Major'].loc[49]

'Spanish'

In [25]:
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [26]:
# Majors with the Highest Potential
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)

In [27]:
highest_potential

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM
14,Construction,53700.0,88900.0,56300.0,171000.0,Business
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
28,History,39200.0,71000.0,37000.0,149000.0,HASS
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
21,Film,37900.0,68500.0,33900.0,136000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM
39,Music,35900.0,55000.0,26700.0,134000.0,HASS
20,English,38000.0,64700.0,33400.0,133000.0,HASS
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [29]:
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [31]:
# Calculate the spread
clean_df['Spread'] = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

# Majors with Greatest Spread in Salaries
highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

<ipython-input-31-0fdf25deee66>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Spread'] = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [32]:
# Group categories
clean_df.groupby('Group').count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Spread
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [37]:
# Check data types of each column
print(clean_df.dtypes)

# If 'Group' column is of type object (string), it might be the issue.
# If so, you might need to reconsider your grouping strategy or convert
# the 'Group' column to a numerical representation if it makes sense in your context.

# If other columns you want to aggregate have string values, you need to:
# 1. Identify those columns.
# 2. Decide if those string values are erroneous and need cleaning,
#    or if those columns should be excluded from the mean calculation.

# Example of excluding non-numeric columns from the mean calculation:
numeric_df = clean_df.select_dtypes(include=['number'])
group_means = numeric_df.groupby('Group').mean()
print(group_means)

Undergraduate Major                   object
Starting Median Salary               float64
Mid-Career Median Salary             float64
Mid-Career 10th Percentile Salary    float64
Mid-Career 90th Percentile Salary    float64
Group                                 object
Spread                               float64
dtype: object

KeyError: 'Group'